extends ./layout/index

block contenido
      main.container.mt-5 
          .row
              .col-md-5 
                  img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
              .col-md-7 
                  h1.text-center #{pagina}
                  blockquote Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in

                  p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.      
                  
                  p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1700s, when an unknown printer took a galley of type and scrambled it to make a type specimen booking.      


          .listado-iconos 
               .container.mt-5.py-5.text-center 
                    .row 
                        .col-md-4 
                            img(src="img/icono_seguridad.svg", alt="icono-seguridad", class="img-fluid mb-4")  
                            h2.mb-4 seguridad 
                            P It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution      
                        
                        .col-md-4 
                            img(src="img/icono_destinos.svg", alt="icono-seguridad", class="img-fluid mb-4")  
                            h2.mb-4 Mejores Destinos
                            P It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution      
                        
                        .col-md-4 
                            img(src="img/icono_precios.svg", alt="icono-seguridad", class="img-fluid mb-4")  
                            h2.mb-4 Los Mejores Precios
                            P It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution      
                  
                         
                            
